src/main/app/lametroconndemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:la-metro-conn="http://www.mulesoft.org/schema/mule/la-metro-conn" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/la-metro-conn http://www.mulesoft.org/schema/mule/la-metro-conn/current/mule-la-metro-conn.xsd">
    <la-metro-conn:config name="LaMetroConn__Configuration" doc:name="LaMetroConn: Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="lametroconndemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/lametroall" doc:name="HTTP"/>
        <la-metro-conn:get-all-routes config-ref="LaMetroConn__Configuration" doc:name="LaMetroConn"/>
    </flow>
    <flow name="lametroconnrouteFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/lametroroute" doc:name="HTTP"/>
        <la-metro-conn:get-route config-ref="LaMetroConn__Configuration" doc:name="LaMetroConn" routeNo="#[message.inboundProperties.'http.query.params'.routeno]"/>
    </flow>
</mule>
